In [1]:
import pandas as pd

In [12]:
times = []
srcs = []
dsts = []
lengths = []
with open('packets_clean.txt', 'r') as f:
    lines = f.readlines()
    packets = []
    for line in lines:
        split_line = line.split(' ')
        time, src, dst, length = split_line[0], split_line[2], split_line[4], int(split_line[-1].strip())
        src, dst = src.split('.')[-1], dst.split('.')[-1][:-1]
        times.append(time)
        srcs.append(int(src))
        dsts.append(int(dst))
        lengths.append(length)
df = pd.DataFrame({'time': times, 'src': srcs, 'dst': dsts, 'length': lengths})

In [13]:
df

                   time    src    dst  length
0       17:03:12.707545  57779   6000       0
1       17:03:12.707690   6000  57779       0
2       17:03:12.707697  57779   6000       0
3       17:03:12.707703   6000  57779       0
4       17:03:12.720933  57779   6000      70
...                 ...    ...    ...     ...
235890  17:03:30.689073  57781   6002       0
235891  17:03:30.689082   6001  57780       0
235892  17:03:30.689088  57780   6001       0
235893  17:03:30.689094   6000  57779       0
235894  17:03:30.689102  57779   6000       0

[235895 rows x 4 columns]

In [14]:
nonzero_msgs = df[df['length'] > 0]
nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

/var/folders/jh/pp3c19bx37g_n7xf9839bxv80000gn/T/ipykernel_83032/3522352792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

In [31]:
port_length_infos = []
for port, port_df in nonzero_msgs.groupby('port'):
    description = port_df['length'].describe()
    description.name = port
    port_length_infos.append((port, description))

In [32]:
pd.concat([port_info for port, port_info in port_length_infos], axis=1)

,6000,6001,6002,6003,6004,6005,6006
count,71873.000000,1552.000000,238.000000,25690.000000,5928.000000,7904.000000,4697.000000
mean,125.622278,60.359536,43.836134,142.106423,266.848516,46.721027,58.947200
std,856.784877,603.091601,240.649391,1060.850636,1827.355904,556.567954,703.499925
min,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
25%,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
50%,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
75%,37.000000,36.000000,36.000000,37.000000,37.000000,36.000000,36.000000
max,16332.000000,16332.000000,3726.000000,16332.000000,16332.000000,16332.000000,16332.000000